torch==2.3.0
ctranslate2==4.5.0
datasets==2.20.0
fairseq==0.12.2
flash_attn==2.7.0.post2
Flask==3.1.0
gevent==24.11.1
gTTS==2.5.4
indic_nlp_library_IT2==0.0.2
joblib==1.4.2
mosestokenizer==1.2.1
nltk==3.8.1
numpy==2.1.3
pandas==2.2.3
peft==0.4.0
protobuf==3.12.4
python-dotenv==1.0.1
regex==2024.5.15
Requests==2.32.3
sacrebleu==2.4.2
sacremoses==0.1.1
sentencepiece==0.1.99
setuptools==75.1.0
setuptools==59.6.0
tqdm==4.66.4
transformers==4.46.0
tritonclient==2.51.0
urduhack==1.1.1
Werkzeug==3.1.3
